[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yices = "*"
z3-solver = "*"
pm4py = "==2.2.19.2"
joblib = "*"
pyparsing = "*"

[dev-packages]

[requires]
python_version = "3.11"
